a {
    text-decoration: none;
    width: 20vw;
}
a:hover, a:active{
    color: rgba(211, 211, 211, 0.171);
}
.nav,ul{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    font-weight: 600;
    width: 100%;
    text-align: center;
    list-style: none;
}

  p{
    font-size: 20px;
    word-spacing: 5px;
    line-height: 2.5;
    position: absolute;
    top: 75%;  
    font-family: 'Reggae One', cursive;
    left: 5%;
    font-style: oblique;
    flex:2;
  }
 h3{
  text-transform: uppercase;
  color: rgb(9, 97, 82);
  font-size: 30px;
  text-shadow: 2px 2px 5px rgb(21 110 95 / 90%);
  letter-spacing: 3px;
  position: absolute;
  left: 150px;
  height: 100px;
  top: 170px;
  margin-bottom: .5rem;
  font-weight: 500;
  font-family: 'Reggae One', cursive;
 }

img{
    width:250px;
    margin:0;
}
.nav, ul, li, a{
    display: inline-block;
    padding: 10px 20px;
    font-weight:bolder;
    color:rgb(221, 138, 12);
    font-variant: small-caps; 
    border-style:none;
    font-size: 26px;
}

.nav li a:hover {
    color:rgb(192, 189, 37);
    text-shadow: 0 0 1px rgba(2, 54, 41, 0.8);
    transition: 2s;
    transition-timing-function: ease;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px rgb(37 80 29 / 72%), inset 0 0 1px rgb(113 139 109 / 6%);
 }

 img:hover{
    cursor: pointer;
 }

 mat-toolbar{
     height:80px;
 }
 .modal-title{
    font-family: 'Reggae One', cursive;
    font-size: 24px;
    color:rgb(212, 255, 19);
 }
 
 .modal-header{
    display: inline-block;
    width:100%;
 }
 .btn-dark{
    position: absolute;
    right:5%;
    background-color:rgba(19, 139, 103, 0.8) ;
    border-radius: 20px;
    padding:8px;
    padding-left:15px;
    padding-right:15px;
    color:rgb(212, 255, 19);
    border:none;
    font-weight: bolder;
 }
 .btn-dark:hover{
    box-shadow: 0 0 10px mediumaquamarine;
    transition: 2s ease;
    background-color:rgba(14, 185, 114, 0.705);
    cursor: pointer;
 }
 .btn{
    font-family: 'Reggae One', cursive;
    position:relative;
    bottom:5%;
    left:27%;
    background-color:rgba(19, 139, 103, 0.8);
    border:none;
    color:rgb(212, 255, 19);
    padding: 15px;
    font-size: 16px;
    width: 180px;
    height: 50px;
 }
 .btn:hover{
    box-shadow: 0 0 10px mediumaquamarine;
    transition: 2s ease;
    background-color:rgba(14, 185, 114, 0.705);
    cursor: pointer;
 }
 .btn:disabled{
     background-color:rgba(33, 110, 87, 0.8);
     color:rgb(184, 92, 17);
     width: 200px;
     height: 50px;
  }
 .modal-content{
    background-color:rgba(19, 139, 103, 0.5);
    color:rgb(212, 255, 19);
    position: relative;
    flex-direction: column;
    width: 600px;
    pointer-events: auto;
    outline: 0;
    top: 5%;
    left: 80%;
    box-shadow:0 0 40px -10px #000;
    background-color: rgba(20, 85, 71, 0.5);
    margin-left:10px;
 }
.modal{
    margin: 2em auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Reggae One', cursive;
    width:90%;
    height:60%;
    position: fixed;
 }

form{
    margin-top:30px;
    padding: 15px;
    width:700px;
    height:300px;
    display:grid;
  
}
label{
    padding-right:15px;
    width:20%;
}
input{
    background-color:rgba(19, 139, 103, 0.8);
    color:rgb(108, 199, 34);
    padding:5px;
    font-size:18px;
    font-family: 'Reggae One', cursive;
    border: solid 0.7px palegreen;
    height: 40px;
    width:50%;
}

.invalid-feedback{
    color:rgb(243, 166, 1);
    font-size:18px;
    width:50%;

}
#invalid{
    color:rgb(243, 166, 1);
    font-size:18px;
    width:50%;

}
.form-group{
    padding-left:10px;
    padding-right:20px;
    padding-bottom: 20px;
}
mat-toolbar{
    padding-top:20px;
    border-radius: 3px;
    background-color:rgba(192, 192, 192, 0.219);
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}